# Hardhat compiler / cache output
artifacts/
cache/
cache_hardhat/

# Typechain
typechain-types/
types/ethers-contracts/

# Ignition deployment state
ignition/deployments/

# Dependencies
node_modules/

# TypeScript
*.tsbuildinfo
dist/

# Env
.env
.env.*
!.env.example
